<main class="py-4 flex flex-col justify-center items-center min-h-[100vh]" id="about">
    
    <app-about-card 
        [left]="true"
        [image]="'labo1.png'"
        [title]="'Que vendons nous ?'"
        [text]="'Chez V-GEN, nous sommes fiers de vous présenter notre produit phare : le Composé-V. Inspiré par les intrigues captivantes de The Boys, le Composé-V est bien plus qu\'un simple produit – c\'est une révolution dans le domaine de la biotechnologie.'"
    />
    <app-about-card 
        [left]="false"
        [image]="'labo2.png'"
        [title]="'Comment avançons-nous ?'"
        [text]="'Chez V-GEN, notre engagement envers l\'innovation et l\'excellence nous pousse à constamment améliorer nos produits pour offrir des performances optimales. Nous sommes fiers de vous annoncer que nous avons récemment lancé deux nouvelles versions améliorées de notre produit phare : le Composé-VB.'"
    />
    <app-about-card 
        [left]="true"
        [image]="'labo3.png'"
        [title]="'Où en sommes-nous ?'"
        [text]="'Dans les semaines à venir, nous lancerons le Composé-VP, notre version la plus avancée, offrant une puissance et une efficacité décuplées. Ce produit exclusif sera disponible uniquement pour les membres premium, qui devront s\'abonner et effectuer un achat pour en bénéficier. Profitez de cette opportunité unique pour découvrir des performances révolutionnaires.'"
    />
</main>