<div
  class="hero h-[92vh] w-full rounded-3xl overflow-hidden border-2 border-[#35478b]"
  style="background-image: url(https://cdn.midjourney.com/046c0ef8-a3d7-43d8-8c04-7d4dd187372d/0_1.png);">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-6xl font-bold text-slate-200">Gros titre</h1>
      <p class="mb-5 text-2xl text-slate-300">
        Ici il y aura une redirection vers une page quelconque et j'espère que ça donnera quelque chose.
      </p>
      <button class="btn bg-gradient-to-r from-[#8e477d] to-[#35478b] text-black  duration-500 border-none  ring-slate-300 font-medium outline-none text-lg shadow-lg hover:text-slate-200 hover:ring-2">Get Started</button>
    </div>
  </div>
</div>